*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    background-color:  hsl(217, 54%, 11%);
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.container{
    margin:2rem ;
    padding: 30px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 18px;
    width: 320px;    
}
h2{
    color: white;
    padding: 15px 0px;
}
.card{
    width: 320px;
}
.top{
    width: 320px;
}
.a{
    color:hsl(215, 51%, 70%); 
}
.price{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;

}
.eth{
    display: flex;
    color: aqua;
    gap: 8px;
}
.timer{
    display: flex;
    color:hsl(215, 51%, 70%);
    gap: 5px;
}
hr{
    border-color:hsl(215, 51%, 70%); 
}
.footer{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.pht{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border:2px solid white;
}
.create{
    padding-left: 15px;
    color: hsl(215, 51%, 70%);
    
}
.jules{
    text-decoration: none;
    color: white;
}